body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

.container {
  position: relative;
  color: white;
  text-shadow: 2px 2px 5px grey;
}

.film-container {
  display: flex;
  margin: 0 auto;
  padding: 2%;
  height: 90vh;
}

h3 {
  margin-top: 1vh;
}

.film-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.5;
}

.film-details {
  display: block;
  margin: 2% 4%;
}

.film-title {
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 10px;
}

.film-image {
  width: auto;
  border-radius: 8px;
  border: black 2px solid;
}

.film-overview {
  font-size: 1.3rem;
  /* margin: 1vh; */
}

.film-id {
  font-size: 14px;
  color: #6c757d;
}

.director-and-runtime {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
}
.director-and-runtime p {
  font-size: 1.2rem;
}
.details-left {
  float: left;
  clear: both;
}

.details-right {
  float: right;
  text-align: right;
  clear: both;
}


.actors {
  margin-top: 20px;
  clear: both;
}

.row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.col-md-3 {
  width: 23%;
  margin-bottom: 20px;
}

.actor-image-frame {
  text-align: center;
}

.actor-image {
  width: 70%;
  height: 15vh;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid white;
}

.actor-details {
  margin-top: 10px;
  text-align: center;
}

.runtime {
  margin-top: 5vh;
}

.film-tagline {
  margin: 3vh 0;
  font-size: 1.3rem;
}
