body {
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.5));
}

.container {
  position: relative;
  color: white;
  text-shadow: 2px 2px 5px grey;
  overflow-x: hidden;
}

.film-container {
  display: flex;
  margin: 0 auto;
  padding: 2%;
  height: 90vh;
}

h3 {
  margin-top: 1vh;
}

.film-backdrop {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: -1;
  opacity: 0.5;
}

.film-details {
  display: block;
  margin: 2% 4%;
}

.film-title {
  font-size: 2em;
  font-weight: bold;
  margin: 0 0 10px 0;
}

.film-image {
  width: auto;
  border-radius: 8px;
  border: black 2px solid;
}

.film-overview {
  font-size: 1.3rem;
  width: 55vw;
}

.film-id {
  font-size: 14px;
  color: #6c757d;
}

.director-and-runtime {
  display: flex;
  justify-content: space-between;
  margin: 5vh 5vh 0 0;
  width: 55vw;
}
.director-and-runtime p {
  font-size: 1.2rem;
  float: inherit;
  margin-top: -1vh;
}

.details-left {
  float: left;
  width: 50%;
}

.details-right {
  float: right;
  text-align: right;
  width: 50%;
}

.actors {
  width: 100%;
  overflow-x: scroll;
  white-space: nowrap;
  position: relative;
  width: 55vw;
}

.row {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  overflow-x: auto;
}

.col-md-3 {
  flex-basis: 20%;
  margin-left: 5px;
}
.actor-image-frame {
  text-align: center;
  display: inline-block;
  margin-left: -2vw;
}

.actor-image {
  width: 70%;
  height: auto;
  border-radius: 8px;
  object-fit: cover;
  border: 2px solid black;
  margin-top: 5px;
}

.actor-details {
  text-align: center;
}

.actor-name {
  font-size: 0.9em;
  text-decoration: none;
  color: white;
}

.character-name {
  font-size: 0.8em;
  text-decoration: none;
  color: white;
}
.runtime {
  margin-top: 5vh;
}

.film-tagline {
  margin: 3vh 0;
  font-size: 1.3rem;
}

.actors {
  /* width: 100%; */
  /* overflow: hidden; */
  overflow-x: hidden;
  white-space: nowrap;
  position: relative;
}

a {
  text-decoration: none;
}
