{% extends 'base.html' %}

{% block title %}Popular Films{% endblock %}

{% block content %}
  <h1>Popular Films</h1>
  <div class="row">
    {% for film in films %}
      <div class="col-md-3">
        <div class="card film-card">
          <a href="/movie/{{ film.id }}">
            <img src="https://image.tmdb.org/t/p/w500{{ film.poster_path }}" class="card-img-top"
              alt="{{ film.title }} Poster">
          </a>
          <div class="card-body">
            <p class="card-title">{{ film.title }}</p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}
